.page {
  box-sizing: border-box;
  background-color: #000000;
  padding: 45px 19px 0;
  display: grid;
  grid-template-columns: minmax(max-content, 880px);
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 19px 0;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 28px 0 36px;
  }
}
