.profile__job {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__job {
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .profile__job {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
  }
}
