.profile {
  min-height: 120px;
  display: grid;
  grid-template-columns: min-content min-content auto;
  gap: 30px;
  align-items: center;
  padding: 40px 0 50px;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 42px 0 36px;
    gap: 0;
  }
}
