.profile__edit-button {
  background: no-repeat center / 10px url("../../../images/icon-pencil.svg");
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}
