.profile__avatar-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__updavatar-button {
  opacity: 1;
}

.profile__avatar-container:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover:before {
  opacity: 1;
}
