.card__like-button_liked {
  background: no-repeat center url("../../../../images/icon-heart_liked.svg");
  padding: 0;
  margin: 0;
  width: 32px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: scaled 0.5s;
}

@keyframes scaled {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
