.profile__add-button {
  background: no-repeat center url("../../../images/icon-plus.svg");
  justify-self: end;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    justify-self: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    background-size: 16px;
    width: 100%;
  }
}
