.header {
  padding: 43px 0;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 0;
  }
}
